[tool.poetry]
name = "composable"
version = "0.1.0"
description = "Callable functions that be composed/piped using >> and <<"
authors = ["Todd Iverson <tiverson@winona.edu>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
python-forge = "^18.6"
toolz = "^0.10.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
